
.content {
    display: flex;
    flex-direction: column;
}

    .header {
        display: flex;
        justify-content: start;
        padding: 1.4rem 1rem .6rem 1rem;
        box-sizing: border-box;
        width: 26rem;
        border-bottom: 1px solid #C3C3C3;
    }

    .body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.2rem 1.2rem 1rem 1.2rem;
        gap: 1rem;
        /* border: 1px solid red; */
    }  

        .inputWrapper {
            gap: .2rem;
        }

        .field.number {
            display: flex;
            flex-direction: column;
            gap: .6rem;
            width: 100%;
            /* border: 1px solid red; */
        }
                
        .submitButton {
            border-radius: 0.5rem;
            display: flex;
            height: 2.3rem;
            align-items: center;
            justify-content: center;
            padding: 0;
            cursor: pointer;
            background-color: #93983D;
            font-weight: 700;
            color: white;
            transition: 0.1s ease-in-out;
            margin-top: 1rem;
            width: 100%;
        }
        .submitButton:active {
            opacity: .7;
            color: rgb(255, 255, 255, 0.7);
        }
        .submitButton:disabled {
            cursor: default;
            opacity: .3;
            color: rgb(255, 255, 255, 0.7);
        }