

.transaction-item {
    padding: 0.4rem .2rem;
    display: flex;
    width: 26rem;
}

    .details.transaction {
        padding: .4rem .7rem;
        flex: 1;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: .5rem;
    }
    .details.transaction:hover {
        background-color: #f0f0f0;
    }
    .details.transaction:active {
        background-color: #eaeaea;
    }

        .payment.transaction {
            display: flex;
            /* border: 1px solid red; */
            flex-direction: column;
            gap: .4rem;
        }