

.loading {
    background-color: #e3e3e3; 
    background-image: linear-gradient(
        90deg,
        #e3e3e3 0%, 
        #e3e3e3 30%, 
        #f4f4f4 50%, 
        #e3e3e3 70%, 
        #e3e3e3 100%
    );
    background-size: 200% 100%;
    animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}